@{
    ViewData["Title"] = "Already an Athlete";
}

<div class="container mt-5">
    <h1 class="display-4">You're Already an Athlete</h1>
    <hr />
    <p class="lead">You have already registered as an athlete. There's no need to register again.</p>
    <p class="lead">Feel free to explore your workouts or update your profile.</p>
    <a href="~/Workout/All" class="btn btn-primary">View Workouts</a>
</div>
