@{
    ViewData["Title"] = "Join Success";
}

<div class="container mt-5">
    <h1 class="display-4">Join Successful</h1>
    <hr />
    <p>You have successfully joined the workout.</p>
    <a asp-controller="Workout" asp-action="Index" class="btn btn-primary">Back to Workouts</a>
</div>