@{
    ViewData["Title"] = "Leave Success";
}

<div class="text-center">
    <h1 class="display-4">Leave Successful</h1>
    <hr />
    <p>You have successfully left the workout.</p>
    <a asp-controller="Workout" asp-action="Index" class="btn btn-primary">Back to Workouts</a>
</div>