@{
    ViewData["Title"] = "Bad Request";
}

<div class="container mt-5">
    <h1 class="display-4">Oops! Something went wrong.</h1>
    <hr />
    <p class="lead">The workout you are trying to view does not exist or may have been deleted.</p>
</div>